mixin itemCategory(itemObj={})
    .menus_item
        .menu_title
            p=itemObj.title
            span=itemObj.description
        .menu_arrow
            //- i.fas.fa-arrow-up
            i.fas.fa-arrow-down
        .menu_radio
            each value in itemObj.innerCategory
                input(type="radio", id=value, name="innerCategory" value=value)
                label(for=value)=value
